// styles/_variables.scss

$primary-color: #1A1A1A;
$secondary-color: #FFFFFF;
$bg-color: #F2F3EE;
$text-color: #454544;
$accent-color: #9C9C55;
$white-color: #FFFFFF;
$divider-color: #1A1A1A1A;
$dark-divider-color: #FFFFFF1A;
$error-color: rgb(230, 87, 87);
$default-font: "Inter Tight", sans-serif;