// styles/_variables.scss

$primary-color: #1A1A1A;
$nav-text-color: #535353;
$secondary-color: #FFFFFF;
$bg-color: #F2F3EE;
$text-color: #454544;
$accent-color: #fcbf00;
$white-color: #FFFFFF;
$divider-color: #1A1A1A1A;
$dark-divider-color: #FFFFFF1A;
$error-color: rgb(230, 87, 87);
$default-font: "Inter Tight", sans-serif;

$page-bg: #efefef;
$text-color: #1f1f1f;
$muted-text: #555555;
$border-color: #d8d8d8;
$dark-box: #2f2f31;
$accent: #d6a321;