.cb-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    contain: layout style size;
    pointer-events: none;
    will-change: transform;
    transition: opacity 0.3s, color 0.4s;

    &::before {
        content: "";
        position: absolute;
        top: -24px;
        left: -24px;
        width: 48px;
        height: 48px;
        display: block;
        border-radius: 50%;
        transform: scale(0);
        transition: transform 0.3s ease-in-out, opacity 0.1s;
    }

    &.-normal,
    &.-text {
        mix-blend-mode: normal;

        &::before {
            background: currentColor;
        }
    }

    &.-inverse {
        color: white;
    }

    &.-visible {
        &::before {
            transform: scale(0.2);
        }

        &.-active::before {
            transform: scale(0.23);
            transition-duration: 0.2s;
        }
    }

    &.-pointer::before {
        transform: scale(0);
    }

    &.-text {
        &::before {
            background: #000;
            opacity: 0.8;
            backdrop-filter: blur(10px);
            transform: scale(1.7);
        }

        .cb-cursor-text {
            opacity: 1;
            transform: scale(1);
        }

        &.-active::before {
            transform: scale(1.6);
            transition-duration: 0.2s;
        }
    }

    &.-opaque {
        &::before {
            transform: scale(1.32);
        }

        &.-active::before {
            transform: scale(1.2);
        }
    }

    &.-lg::before {
        transform: scale(2);
    }

    &.-hidden::before {
        transform: scale(0);
    }
}

/* Cursor text */
.cb-cursor-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(10deg);
    opacity: 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.01em;
    transition: opacity 0.4s, transform 0.3s;
}

/* Blend mode support */
@supports (mix-blend-mode: exclusion) {
    .cb-cursor {

        &.-exclusion,
        &.-opaque {
            mix-blend-mode: exclusion;

            &::before {
                background: white;
            }
        }
    }
}

/* Colors */
.-color-red {
    color: red;
}

.-color-green {
    color: #51c67d;
}

/* Demo section */
.cb-demo {
    background: #fff;

    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    &-container {
        padding: 0 20px;

        @media (min-width: 1600px) {
            padding: 0 120px;
        }
    }

    &-row {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 30px 0;

        @media (min-width: 1600px) {
            margin: 60px 0;
        }
    }

    &-item {
        position: relative;
        flex: 1;
        padding: 50px 30px;
        margin: 0 20px;
        color: #000;

        @media (min-width: 1600px) {
            padding: 90px 30px;
            margin: 0 30px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 30px;
            background: #f8f8f8;
            transition: box-shadow 0.2s;
        }

        &-title {
            margin-bottom: 25px;
            font-size: 30px;
            font-weight: bold;
        }

        &-text {
            max-width: 70%;
            margin: 0 auto;
            color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
            font-weight: 300;
            line-height: 150%;
        }
    }
}